## Tb1

In [1]:
from tableone import TableOne
from config import *
import pandas as pd

In [2]:
cov_df = pd.read_feather("cov_df.feather")
cov_df

,eid,Age_at_recruitment,Sex(M),LDL_cholesterol,HDL_cholesterol,Cholesterol,Triglycerides,PC1,PC2,PC3,...,genotype_array,smoking,assessment_center,hypertension,Cushing_syndrome,PCOS,Depression,Diabetes_Type_2,Hypothyroidism,any_weight_gain_medication_use
0,1000017,56.0,1,4.589,1.179,7.018,3.553,-11.36900,3.56718,-1.975530,...,1,1.0,1,0,0,0,0,0,0,0
1,1000025,62.0,1,2.480,1.259,4.433,2.678,-12.16200,2.77470,0.175048,...,2,1.0,2,0,0,0,0,0,0,1
2,1000038,60.0,1,3.640,0.954,5.462,2.386,-12.86980,6.41566,-5.106100,...,1,0.0,3,0,0,0,0,0,0,0
3,1000042,60.0,1,2.947,1.114,4.651,2.410,72.94370,-109.21600,74.692200,...,2,1.0,3,0,0,0,0,0,0,0
4,1000056,65.0,0,2.398,1.595,4.204,0.997,-10.71740,5.77507,0.620341,...,2,0.0,4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502404,5900128,NaN,nan,NaN,NaN,NaN,NaN,-11.50210,3.60465,-1.966180,...,2,nan,11,0,0,0,0,0,0,0
502405,5943894,NaN,nan,NaN,NaN,NaN,NaN,-14.71660,5.33620,-2.817880,...,2,nan,5,0,0,0,0,0,0,0
502406,5980676,NaN,nan,NaN,NaN,NaN,NaN,-12.64800,1.65136,-1.056580,...,2,nan,14,0,0,0,0,0,0,0
502407,5981613,NaN,nan,NaN,NaN,NaN,NaN,1.71385,-3.30683,11.391300,...,2,nan,4,0,0,0,0,0,0,0
502408,5989577,NaN,nan,NaN,NaN,NaN,NaN,-10.76950,4.86070,-1.924890,...,2,nan,11,0,0,0,0,0,0,0

In [3]:
qts = [
    "Age_at_recruitment",
    "LDL_cholesterol",
    "HDL_cholesterol",
    "Cholesterol",
    "Triglycerides",
]

bts = [
    "Sex(M)",
    "genotype_array",
    "smoking",
    "hypertension",
    "Cushing_syndrome",
    "PCOS",
    "Depression",
    "Diabetes_Type_2",
    "Hypothyroidism",
    "any_weight_gain_medication_use",
]

In [4]:
mytable = TableOne(
    cov_df,
    qts + bts,
    bts,
    qts,
    None,
    qts,
    pval=False,
    missing=True,
)
# mytable

In [5]:
mytable.to_excel(TableDir / "Tb1.xlsx")