In [14]:
import pandas as pd
from pathlib import Path
from config import *


# secondary preventive dir
data_dir = Path("data")

secondary_prevantative_combinations = [
    (i.parent.parent.stem, i.parent.stem)
    for i in list(data_dir.rglob("*disease.feather"))
]
secondary_prevantative_combinations

[('coronary_artery_disease', 'HF_CM'),
 ('coronary_artery_disease', 'Ischemic_cardiomyopathy'),
 ('essential_htn', 'HF_CM'),
 ('essential_htn', 'HF_CM_plus_HCM_DCM'),
 ('obesity', 'T2D')]

In [11]:
df_list = []
for each in list(data_dir.rglob("*disease.feather")):
    df = pd.read_feather(each)[["eid", "event"]].rename(
        columns={"event": each.parent.parent.stem + "_to_" + each.parent.stem}
    )
    df_list.append(df)

from functools import reduce

df = reduce(lambda left, right: pd.merge(left, right, on="eid", how="outer"), df_list)

df

,eid,coronary_artery_disease_to_HF_CM,coronary_artery_disease_to_Ischemic_cardiomyopathy,essential_htn_to_HF_CM,essential_htn_to_HF_CM_plus_HCM_DCM,obesity_to_T2D
0,1000025,0.0,0.0,0.0,0.0,1.0
1,1000089,0.0,0.0,0.0,0.0,NaN
2,1000887,1.0,0.0,1.0,1.0,NaN
3,1001011,0.0,0.0,0.0,0.0,NaN
4,1001024,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...
207996,6023940,NaN,NaN,NaN,NaN,0.0
207997,6023984,NaN,NaN,NaN,NaN,1.0
207998,6024033,NaN,NaN,NaN,NaN,0.0
207999,6024047,NaN,NaN,NaN,NaN,0.0
208000,6024064,NaN,NaN,NaN,NaN,0.0

In [17]:
regenie = df.rename(columns={"eid": "FID"})
regenie.insert(1, "IID", regenie["FID"])
regenie

,FID,IID,coronary_artery_disease_to_HF_CM,coronary_artery_disease_to_Ischemic_cardiomyopathy,essential_htn_to_HF_CM,essential_htn_to_HF_CM_plus_HCM_DCM,obesity_to_T2D
0,1000025,1000025,0.0,0.0,0.0,0.0,1.0
1,1000089,1000089,0.0,0.0,0.0,0.0,NaN
2,1000887,1000887,1.0,0.0,1.0,1.0,NaN
3,1001011,1001011,0.0,0.0,0.0,0.0,NaN
4,1001024,1001024,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...
207996,6023940,6023940,NaN,NaN,NaN,NaN,0.0
207997,6023984,6023984,NaN,NaN,NaN,NaN,1.0
207998,6024033,6024033,NaN,NaN,NaN,NaN,0.0
207999,6024047,6024047,NaN,NaN,NaN,NaN,0.0
208000,6024064,6024064,NaN,NaN,NaN,NaN,0.0

In [19]:
regenie_data_dir = outputDir / "regenie_files"
regenie_data_dir.mkdir(exist_ok=True, parents=True)
regenie.to_csv(
    regenie_data_dir / "regenie_data.regenie", sep="\t", index=False, na_rep="NA"
)